.wrapper {
    display: flex;
    justify-content: center;
    gap: 26px;

    li {
        width: 100px;
        border: 2px solid black;
        border-radius: 8px;
        padding: 12px;
        text-align: center;



    }

}